* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  display: flex;
  height: 65px;
  padding: 20px;
}

.header-image {
  height: 100%;
  margin-right: 6px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-project {
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  padding: 36px;
}

.form {
  display: grid;
  gap: 17px;
  grid-template: 40px 40px / 1fr 1fr;
}

.form-input {
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  text-indent: 5px;
}

.form-button {
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  grid-column: 1 / -1;
}

.meme-image {
  border-radius: 2px;
  margin: 36px 0 36px 0;
  max-width: 100%;
}